[submodule "lib/openzeppelin-community-contracts"]
	path = lib/openzeppelin-community-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-community-contracts
[submodule "lib/account-abstraction"]
	path = lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
