[profile.ci]
  fuzz = { runs = 10_000 }
  verbosity = 4

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  anvil = "http://localhost:8545"
  btp = "${BTP_RPC_URL}"

[profile.default]
  src = 'contracts'
  out = 'out'
  libs = ['node_modules', 'dependencies']
  test = 'test'
  cache_path  = 'cache_forge'
  solc = "0.8.30"
  evm_version = "cancun"
  optimizer = true
  optimizer_runs = 200
  gas_reports = ["*"]
  fuzz = { runs = 1_000 }
  auto_detect_solc = false
  extra_output_files = [ "metadata" ]
  viaIR = true

# Soldeer configuration
[soldeer]
  remappings_version = false

[dependencies]
  # Core dependencies
  forge-std = "1.9.5"
  "@openzeppelin-contracts" = "5.2.0"
  # Pinned to specific commit to avoid breaking changes, https://github.com/eth-infinitism/account-abstraction/commit/b3bae63bd9bc0ed394dfca8668008213127adb62 doesn't work on Paris (TransientSlot.sol)
  account-abstraction = { version = "0.7.0", git = "https://github.com/eth-infinitism/account-abstraction", rev = "4b9a3ecfb63c3342218f2ba0226e19be16e022ac" }